@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f4f4ef;
}
button {
  cursor: pointer;
}
.navbar {
  background: #fff;
  color: rgb(69, 162, 228);
  font-size: 32px;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.navbar h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'Roboto',sans-serif;
}

.singleBox{
  background: white;
  float: left;
  width: 350px;
  /* height: 700px; */
  height: 50%;
  margin: 2px 0px 20px 40px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
  padding: 25px 15px 25px 15px;
  position: relative;
}
.formBackground{
  background: rgb(192, 192, 192, 0.5);
  width: 300px;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.loginContainer {
  background-color: white;
  margin: auto;
  margin-top: 200px;
  width: 300px;
  height: 350px;
  padding: 20px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
}

p.loginText {
  font-family: 'Roboto-thin', sans-serif;
}

input.loginInput {
  width: 90%;
}

button.loginButton {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}

/* h1{
  font-family: cursive;
} */

/* .uglyForm{
   position: fixed;
   left: 40%;
   top:40%;
} */

.popup{
  background: white;
  position: fixed;
  top: 50;
  left: 250;
  z-index: 1;
  width: 65%;
  height: 65%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50;
  border: 1px solid #dbe2e8;
  border-radius: 20px;
  box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, 0.05);
}
.imgBox{
  width:100%;
  max-height: 300px;
}

h4{
/* white-space: nowrap;  */
  overflow: hidden;
  text-overflow: ellipsis;
}
.innerImgBox{
  max-width: 350px;
}

.lists-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 115px; */
  margin-top: 50px;
}

.navigation-buttons-container {
  top: 0;
  left: 0;
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.navButton {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}

.nav-title {
  position: absolute;
  /* justify-content: flex-start; */
  top: 0.5%;
  left: 1%;
  /* justify-content: center;
  position: absolute;
  right: 20%; */
  z-index: 5;
}
#title {
  letter-spacing: 5px;
  line-height: 90px;
  height: 90px;
  margin: 0;
  vertical-align: middle;
  float: left;
  color: white;
}

#logo {
  height: 90px;
  width: 120px;
  background-color:green;
  float: left;
}

.post-heading {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  color: black;
  word-wrap: break-word;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 60px #fff;
}

.post-button {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px 50px 10px 50px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}

/* .filter0buttons {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
} */

select.filter-buttons {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  /* appearance: none; */
  border: 1px solid #dbe2e8;
  line-height: 1rem;
  border-radius: 20px;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  word-wrap: break-word;
}

.post-button-containers {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#banner {
  height: 300px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.banner-image {
  height: 200px;
  object-fit: cover;
}

.detail-button {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px 50px 10px 50px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
  position: absolute;
  left: 17%;
  top: 85%;
}

#formf {
  margin-bottom: 10px;
}

.formInput {
  margin-bottom: 10px;
  height: 50px;
  width: 300px;
  font-size: 25px;
}

#formContainer {
  padding: 100px;
  display: flex;
  position: fixed;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  z-index: 1000;
  box-sizing: border-box;
}

.detail-exit {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}
#right-menu {
  float: right;
  margin-right: 20px;
}
#logo-container{
  float: left;
  width: 500px;
}
#menu-container {
  height: 90px;
  width: 100%;
}
.menu-box {
  position: relative;
  float: left;
  background-color: rgba(255,255,255,0.07);
  margin: 0;
  height: 90px;
  width: 110px;
  text-decoration: none;
  color: rgba(255,255,255,0.4);;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 100;
}
.menu-box:hover {
  background-color: rgba(255,255,255,0.15);
  color: white;
}
.menu-text{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.navigation{
  background-color: rgba(0,0,0,0.89);
}
.nav-item {
  position: relative;
  float: left;
  margin: 0;
  height: 90px;
}
#loginuser-text {
  float: left;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  padding-right: 20px;
  text-align: right;
}
.nav-user-item {
  float: left;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  padding-right: 20px;
  padding-top: 35px;
  text-align: right;
}
.nav-button-item {
  margin: 17px 0;
}